body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #b7f7e1;
    background-image: url(bgcalc.png);
    background-size: cover;
}

.container {
    width: 240px;
    height: 245px;
    padding: 20px;
    background-color: #d8bfd8;

    border-radius: 5px;
    border: 2px solid #fa0577;
    box-shadow: 0 0 5px rgba(250, 5, 19, 0.15);
    text-align: center;
    color: #fa0577;
}

#result {
    width: 50%;
    padding: 5px;
    margin: 5px;
    background-color: #ffb6c1;
    border-radius: 5px;
    border: 2px solid #fa0577;
    color: #fa0577;
    font-size: 24px;
}

input[type="button"] {
    width: 40px;
    height: 40px;
    font-size: 15px;
    margin: 5px;
    color: #fa0577;
    background-color: #ffb6c1;
    border-radius: 5px;
    border: 2px solid #fa0577;
}

.calc-top-result {
    font-weight: bold;
    font-size: 36px;
    margin-top: 20px;
    margin-left: 247px;
    width: 541px;
}

#mais,
#menos,
#vezes,
#dividir,
#igual {
    width: 60px;
}

#reset {
    width: 95px;
}

#mais {
    background-color: #d5f694;
}

#menos {
    background-color: #a6c8f1;
}

#vezes {
    background-color: #fadf72;
}

#dividir {
    background-color: #ffc363d4;
}
